  .section-main{
    width: 500px;
    margin: 0 auto;
    position: relative;
  }

  .map-box{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    left: -100px;
    border-bottom: 3px solid #e00;
    border-right: 3px solid #e00;
  }

  .map-box:before{
    content: "";
    width: 200px;
    right: -200px;
    position: absolute;
    border-bottom: 3px solid #e00;
  }

  .box-move{
    width: 30px;
    height: 30px;
    background-color: #ee0;
    position: absolute;
    border: 1px solid #333;
    left: 34px;
    bottom: -15px;
    border-radius: 100%;
  }
